## The tools that we are going to use in this project

In [1]:
import requests
import json
import pandas as pd
import urllib.request
import numpy as np

## I used the https://footystats.org/api/ to get all the data

In [2]:
url = 'https://api.footystats.org/league-matches?key=example&league_id=2012'
#response = requests.get(api_url)
fp = urllib.request.urlopen(url)
mybytes = fp.read()
response = mybytes.decode("utf8")
fp.close()
rates = json.loads(response)

## I cleaned the Data Frame to extract the information that I am going to use during this project

In [3]:
df_data=pd.DataFrame(rates["data"])
df_data.drop(columns=["status","revised_game_week","roundID","matches_completed_minimum","over05","over15","over25","over35","over45","over55","btts"], inplace=True)
df_data.drop(columns=["totalGoalCount","u45_potential","u35_potential","u25_potential","u15_potential","u05_potential","corners_o85_potential","corners_o95_potential","corners_o105_potential"], inplace=True)
df_data.drop(columns=["home_ppg","away_ppg","pre_match_home_ppg","pre_match_away_ppg","pre_match_teamA_overall_ppg","pre_match_teamB_overall_ppg","match_url"], inplace=True)
df_data.drop(columns=["team_a_corners","team_b_corners","totalCornerCount","offsides_potential","cards_potential","avg_potential","home_url","home_image","away_url","away_image"], inplace=True)
df_data.drop(columns=["team_a_offsides","team_b_offsides","o35_potential","o25_potential","o15_potential","o05_potential","o15HT_potential","o05HT_potential","corners_potential"],inplace=True)
df_data.drop(columns=["team_b_dangerous_attacks","team_a_attacks","team_b_attacks","team_a_xg","team_b_xg","total_xg","o45_potential","competition_id"], inplace=True)
df_data.drop(columns=["team_a_fh_cards","team_b_fh_cards","team_a_2h_cards","team_b_2h_cards","total_fh_cards","total_2h_cards","attacks_recorded","team_a_dangerous_attacks"], inplace=True)
df_data.drop(columns=["attendance","corner_timings_recorded","team_a_fh_corners","team_b_fh_corners","team_a_2h_corners","team_b_2h_corners"], inplace=True)
df_data.drop(columns=["no_home_away","btts_potential","btts_fhg_potential","btts_2hg_potential","goalTimingDisabled"],inplace=True)
df_data.drop(columns=["goals_2hg_team_a","goals_2hg_team_b","GoalCount_2hg","HTGoalCount","date_unix"], inplace=True)
df_data.drop(columns=["odds_btts_2nd_half_yes","odds_btts_2nd_half_no","ht_goals_team_a","ht_goals_team_b"], inplace=True)
df_data.drop(columns=['team_a_shotsOnTarget', 'team_b_shotsOnTarget','team_a_shotsOffTarget', 'team_b_shotsOffTarget','team_a_shots','team_b_shots','refereeID', 'coach_a_ID', 'coach_b_ID','odds_ft_1', 'odds_ft_x', 'odds_ft_2',
                      'odds_ft_over05', 'odds_ft_over15', 'odds_ft_over25', 'odds_ft_over35','odds_ft_over45', 'odds_ft_under05', 'odds_ft_under15','odds_ft_under25', 'odds_ft_under35', 'odds_ft_under45','odds_btts_yes', 'odds_btts_no', 'odds_team_a_cs_yes',
                      'odds_team_a_cs_no', 'odds_team_b_cs_yes', 'odds_team_b_cs_no','odds_doublechance_1x', 'odds_doublechance_12', 'odds_doublechance_x2','odds_1st_half_result_1', 'odds_1st_half_result_x','odds_1st_half_result_2', 'odds_2nd_half_result_1',
                      'odds_2nd_half_result_x', 'odds_2nd_half_result_2', 'odds_dnb_1','odds_dnb_2', 'odds_corners_over_75', 'odds_corners_over_85','odds_corners_over_95', 'odds_corners_over_105','odds_corners_over_115', 'odds_corners_under_75','odds_corners_under_85', 'odds_corners_under_95',
                      'odds_corners_under_105', 'odds_corners_under_115', 'odds_corners_1','odds_corners_x', 'odds_corners_2', 'odds_team_to_score_first_1','odds_team_to_score_first_x', 'odds_team_to_score_first_2','odds_win_to_nil_1', 'odds_win_to_nil_2', 'odds_1st_half_over05','odds_1st_half_over15',
                      'odds_1st_half_over25', 'odds_1st_half_over35','odds_1st_half_under05', 'odds_1st_half_under15','odds_1st_half_under25', 'odds_1st_half_under35'], inplace= True)
df_data.drop(columns=['odds_2nd_half_over05', 'odds_2nd_half_over15','odds_2nd_half_over25', 'odds_2nd_half_over35', 'odds_2nd_half_under05','odds_2nd_half_under15', 'odds_2nd_half_under25','odds_2nd_half_under35', 'odds_btts_1st_half_yes',
                      'odds_btts_1st_half_no'], inplace= True)
df_data.drop(columns=["stadium_location","homeGoals","awayGoals"],inplace=True)

## The final columns that I am going to use

In [4]:
df_data.columns

Index(['id', 'homeID', 'awayID', 'season', 'game_week', 'homeGoalCount',
       'awayGoalCount', 'team_a_yellow_cards', 'team_b_yellow_cards',
       'team_a_red_cards', 'team_b_red_cards', 'team_a_fouls', 'team_b_fouls',
       'team_a_possession', 'team_b_possession', 'stadium_name',
       'team_a_cards_num', 'team_b_cards_num', 'overallGoalCount',
       'winningTeam', 'corner_fh_count', 'corner_2h_count', 'home_name',
       'away_name'],
      dtype='object')

##  I renamed the columns to make easy to understand the content

In [5]:
df_data.rename(columns= {"overallGoalCount":"Totalgol"}, inplace=True)
df_data.rename(columns= {"corner_fh_count":"corner_1_half"}, inplace=True)
df_data.rename(columns= {"corner_2h_count":"corner_2_half"}, inplace=True)
df_data.rename(columns= {"team_a_possession":"team_home_%possession"}, inplace=True)
df_data.rename(columns= {"team_b_possession":"team_away_%possession"}, inplace=True)
df_data.rename(columns= {"team_a_fouls":"team_home_fouls"}, inplace=True)
df_data.rename(columns= {"team_b_fouls":"team_away_fouls"}, inplace=True)
df_data.rename(columns= {"team_a_yellow_cards":"team_home_yellow_cards"}, inplace=True)
df_data.rename(columns= {"team_b_yellow_cards":"team_away_yellow_cards"}, inplace=True)
df_data.rename(columns= {"team_a_red_cards":"team_home_red_cards"}, inplace=True)
df_data.rename(columns= {"team_b_red_cards":"team_away_red_cards"}, inplace=True)

## I rearrange the order of the columns

In [6]:
df_data=df_data[["game_week","home_name","homeID","away_name","awayID","winningTeam","homeGoalCount","awayGoalCount","Totalgol","team_home_%possession","team_away_%possession","team_home_fouls","team_away_fouls","team_home_yellow_cards",
                 "team_away_yellow_cards","team_home_red_cards","team_away_red_cards","corner_1_half","corner_2_half","season","id"]]

## I changed a value into the column

In [7]:
df_data["winningTeam"].replace(-1,"Tie",inplace=True)

## I extracted the name of the home team

In [8]:
home_name=df_data["home_name"].unique()
df_home=pd.DataFrame(home_name)

## I extracted the ID of the home team

In [9]:
homeid=df_data["homeID"].unique()
df_homeid=pd.DataFrame(homeid)

## I extracted the games of the home team

In [10]:
home_games=df_data["homeID"].value_counts().unique

## My final Data Frame to manipulate

In [12]:
df_data

,game_week,home_name,homeID,away_name,awayID,winningTeam,homeGoalCount,awayGoalCount,Totalgol,team_home_%possession,...,team_home_fouls,team_away_fouls,team_home_yellow_cards,team_away_yellow_cards,team_home_red_cards,team_away_red_cards,corner_1_half,corner_2_half,season,id
0,1,Liverpool,151,Norwich City,159,151,4,1,5,60,...,9,9,0,2,0,0,6,7,2019/2020,578994
1,1,West Ham United,153,Manchester City,93,93,0,5,5,47,...,5,13,2,2,0,0,1,1,2019/2020,578995
2,1,AFC Bournemouth,148,Sheffield United,251,Tie,1,1,2,54,...,7,17,2,1,0,0,2,5,2019/2020,578996
3,1,Burnley,145,Southampton,146,145,3,0,3,43,...,6,11,0,0,0,0,2,7,2019/2020,578997
4,1,Crystal Palace,143,Everton,144,Tie,0,0,0,39,...,16,14,2,2,0,1,5,3,2019/2020,578998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,38,Leicester City,108,Manchester United,149,149,0,2,2,50,...,10,11,1,5,1,0,3,3,2019/2020,579369
376,38,Manchester City,93,Norwich City,159,93,5,0,5,80,...,7,4,1,1,0,0,6,3,2019/2020,579370
377,38,Newcastle United,157,Liverpool,151,151,1,3,4,33,...,10,5,1,0,0,0,3,3,2019/2020,579371
378,38,Southampton,146,Sheffield United,251,146,3,1,4,69,...,9,15,0,1,0,0,3,7,2019/2020,579372
379,38,West Ham United,153,Aston Villa,158,Tie,1,1,2,50,...,16,14,2,1,0,0,1,6,2019/2020,579373

In [512]:
len(df_data[df_data.home_name == "Watford"]["winningTeam"])

19

In [15]:
df_data[df_data.home_name=='Liverpool']["winningTeam"].value_counts()

151    18
Tie     1
Name: winningTeam, dtype: int64

In [16]:
pd.DataFrame(home_name,homeid)

                           0
151                Liverpool
153          West Ham United
148          AFC Bournemouth
145                  Burnley
143           Crystal Palace
155                  Watford
92         Tottenham Hotspur
108           Leicester City
157         Newcastle United
149        Manchester United
59                   Arsenal
158              Aston Villa
209   Brighton & Hove Albion
144                  Everton
159             Norwich City
146              Southampton
93           Manchester City
251         Sheffield United
152                  Chelsea
223  Wolverhampton Wanderers

## Number of Victory per team

In [18]:
Liverpool_win=0
West_Ham_United_win=0
AFC_Bournemouth_win=0
Burnley_win=0
Crystal_Palace_win=0 
Watford_win=0 
Tottenham_Hotspur_win=0
Leicester_City_win=0
Newcastle_United_win=0
Manchester_United_win=0
Arsenal_win=0
Aston_Villa_win=0
Brighton_Hove_Albion_win=0
Everton_win=0
Norwich_City_win=0
Southampton_win=0
Manchester_City_win=0
Sheffield_United_win=0
Chelsea_win=0
Wolverhampton_Wanderers_win=0
for x in df_data["winningTeam"]:
    if x == 151:
        Liverpool_win+=1
    elif x== 153:
        West_Ham_United_win+=1
    elif x == 148:
        AFC_Bournemouth_win+=1
    elif x == 145:
        Burnley_win+=1
    elif x == 143:
        Crystal_Palace_win+=1
    elif x == 155:
        Watford_win+=1
    elif x == 92:
        Tottenham_Hotspur_win+=1
    elif x == 108:
        Leicester_City_win+=1
    elif x == 157:
        Newcastle_United_win+=1
    elif x == 149:
        Manchester_United_win+=1
    elif x == 59:
        Arsenal_win+=1
    elif x == 158:
        Aston_Villa_win+=1
    elif x == 209:
        Brighton_Hove_Albion_win+=1
    elif x == 144:
        Everton_win+=1
    elif x == 159:
        Norwich_City_win+=1
    elif x == 146:
        Southampton_win+=1
    elif x == 93:
        Manchester_City_win+=1
    elif x ==251:
        Sheffield_United_win+=1
    elif x == 152:
        Chelsea_win+=1
    elif x == 223:
        Wolverhampton_Wanderers_win+=1

## Number of games per week

In [431]:
df_data["game_week"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38], dtype=int64)

## Number of Tie per Team

In [17]:
Liverpool_tie=0
West_Ham_United_tie=0
AFC_Bournemouth_tie=0
Burnley_tie=0
Crystal_Palace_tie=0 
Watford_tie=0 
Tottenham_Hotspur_tie=0
Leicester_City_tie=0
Newcastle_United_tie=0
Manchester_United_tie=0
Arsenal_tie=0
Aston_Villa_tie=0
Brighton_Hove_Albion_tie=0
Everton_tie=0
Norwich_City_tie=0
Southampton_tie=0
Manchester_City_tie=0
Sheffield_United_tie=0
Chelsea_tie=0
Wolverhampton_Wanderers_tie=0
for x in df_data[df_data.winningTeam == "Tie"]["home_name"]:
    if x == "AFC Bournemouth":
        AFC_Bournemouth_tie+=1
    elif x == "Liverpool":
        Liverpool_tie+=1        
    elif x == "West Ham United":
        West_Ham_United_tie+=1        
    elif x == "AFC Bournemouth":
        AFC_Bournemouth_tie+=1        
    elif x == "Burnley":
        Burnley_tie+=1        
    elif x == "Crystal Palace":
        Crystal_Palace_tie+=1        
    elif x == "Watford":
        Watford_tie+=1        
    elif x == "Tottenham Hotspur":
        Tottenham_Hotspur_tie+=1    
    elif x == "Leicester City":
        Leicester_City_tie+=1        
    elif x == "Newcastle United":
        Newcastle_United_tie+=1        
    elif x== "Manchester United":
        Manchester_United_tie+=1        
    elif x == "Arsenal":
        Arsenal_tie+=1        
    elif x == "Aston Villa":
        Aston_Villa_tie+=1        
    elif x == "Brighton & Hove Albion":
        Brighton_Hove_Albion_tie+=1    
    elif x == "Everton":
        Everton_tie+=1        
    elif x == "Norwich City":
        Norwich_City_tie+=1        
    elif x == "Southampton":
        Southampton_tie+=1        
    elif x == "Manchester City":
        Manchester_City_tie+=1        
    elif x == "Sheffield United":
        Sheffield_United_tie+=1        
    elif x == "Chelsea":
        Chelsea_tie+=1        
    elif x == "Wolverhampton Wanderers":
        Wolverhampton_Wanderers_tie+=1

## Number of Lose per Team

In [20]:
Liverpool_lose=38 - (Liverpool_tie + Liverpool_win)
West_Ham_United_lose=38 - (West_Ham_United_tie + West_Ham_United_win)
AFC_Bournemouth_lose=38 - (AFC_Bournemouth_tie + AFC_Bournemouth_win)
Burnley_lose= 38 - (Burnley_tie + Burnley_win)
Crystal_Palace_lose=38 - (Crystal_Palace_tie + Crystal_Palace_win)
Watford_lose= 38 - (Watford_tie + Watford_win)
Tottenham_Hotspur_lose= 38 - (Tottenham_Hotspur_tie + Tottenham_Hotspur_win)
Leicester_City_lose=38 - (Leicester_City_tie + Leicester_City_win)
Newcastle_United_lose=38 - (Newcastle_United_tie + Newcastle_United_win)
Manchester_United_lose=38 - (Manchester_United_tie + Manchester_United_win)
Arsenal_lose= 38 - (Arsenal_tie + Arsenal_win)
Aston_Villa_lose=38 - (Aston_Villa_tie + Aston_Villa_win)
Brighton_Hove_Albion_lose= 38 - (Brighton_Hove_Albion_tie +Brighton_Hove_Albion_win)
Everton_lose= 38 - (Everton_tie + Everton_win)
Norwich_City_lose= 38 - (Norwich_City_tie + Norwich_City_win) 
Southampton_lose= 38 - (Southampton_tie + Southampton_win)
Manchester_City_lose= 38 - (Manchester_City_tie + Manchester_City_win)
Sheffield_United_lose= 38 - (Sheffield_United_tie + Sheffield_United_win)
Wolverhampton_Wanderers_lose= 38 - (Wolverhampton_Wanderers_tie + Wolverhampton_Wanderers_win)
Chelsea_lose= 38 - (Chelsea_tie + Chelsea_win)

## I created my own Data Frame

In [48]:
df= pd.DataFrame({"Teams": ["Liverpool","West_Ham_United","AFC_Bournemouth","Burnley","Crystal_Palace","Watford","Tottenham_Hotspur","Leicester_City",
                    "Newcastle_United", "Manchester_United", "Arsenal", "Aston_Villa", "Brighton_Hove_Albion", "Everton",
                     "Norwich_City", "Southampton", "Manchester_City", "Sheffield_United", "Chelsea", "Wolverhampton_Wanderers"],
                "Wins":[Liverpool_win, West_Ham_United_win, AFC_Bournemouth_win, Burnley_win, Crystal_Palace_win, Watford_win, Tottenham_Hotspur_win, Leicester_City_win,
                      Newcastle_United_win, Manchester_United_win, Arsenal_win, Aston_Villa_win, Brighton_Hove_Albion_win, Everton_win,
                      Norwich_City_win, Southampton_win, Manchester_City_win, Sheffield_United_win, Chelsea_win, Wolverhampton_Wanderers_win],
                "Lost":[Liverpool_lose, West_Ham_United_lose, AFC_Bournemouth_lose, Burnley_lose, Crystal_Palace_lose, Watford_lose, Tottenham_Hotspur_lose, Leicester_City_lose,
                      Newcastle_United_lose, Manchester_United_lose, Arsenal_lose, Aston_Villa_lose, Brighton_Hove_Albion_lose, Everton_lose,
                      Norwich_City_lose, Southampton_lose, Manchester_City_lose, Sheffield_United_lose, Chelsea_lose, Wolverhampton_Wanderers_lose],
               "Tie":[Liverpool_tie, West_Ham_United_tie, AFC_Bournemouth_tie, Burnley_tie, Crystal_Palace_tie, Watford_tie, Tottenham_Hotspur_tie, Leicester_City_tie,
                      Newcastle_United_tie, Manchester_United_tie, Arsenal_tie, Aston_Villa_tie, Brighton_Hove_Albion_tie, Everton_tie,
                      Norwich_City_tie, Southampton_tie, Manchester_City_tie, Sheffield_United_tie, Chelsea_tie, Wolverhampton_Wanderers_tie],})

## I ordered the Data Frame by Wins and I created two new columns. the number of games played and the probability of winning and Tie per team

In [58]:
df.sort_values("Wins", ascending= False, inplace= True)
df["Played"]= df["Wins"]+ df["Lost"] + df["Tie"]
df["Proba_of_winning"] = (df["Wins"] / df["Played"])*100
df["Proba_of_Tie"]=(df["Tie"] / df["Played"])*100
df

,Teams,Wins,Lost,Tie,Played,Proba_of_winning,Proba_of_Tie
0,Liverpool,32,5,1,38,84.210526,2.631579
16,Manchester_City,26,10,2,38,68.421053,5.263158
18,Chelsea,20,15,3,38,52.631579,7.894737
7,Leicester_City,18,16,4,38,47.368421,10.526316
9,Manchester_United,18,13,7,38,47.368421,18.421053
6,Tottenham_Hotspur,16,19,3,38,42.105263,7.894737
15,Southampton,15,20,3,38,39.473684,7.894737
19,Wolverhampton_Wanderers,15,16,7,38,39.473684,18.421053
3,Burnley,15,19,4,38,39.473684,10.526316
10,Arsenal,14,18,6,38,36.842105,15.789474
17,Sheffield_United,14,21,3,38,36.842105,7.894737
13,Everton,13,18,7,38,34.210526,18.421053
8,Newcastle_United,11,19,8,38,28.947368,21.052632
4,Crystal_Palace,11,22,5,38,28.947368,13.157895
1,West_Ham_United,10,24,4,38,26.315789,10.526316
11,Aston_Villa,9,26,3,38,23.684211,7.894737
12,Brighton_Hove_Albion,9,22,7,38,23.684211,18.421053
2,AFC_Bournemouth,9,23,6,38,23.684211,15.789474
5,Watford,8,24,6,38,21.052632,15.789474
14,Norwich_City,5,30,3,38,13.157895,7.894737

## ## I saved all the information in a TXT file

In [59]:
df.to_csv('premierleague.txt', index=False, encoding='utf-8')

## I loaded TXT file

In [60]:
premier =pd.read_csv('premierleague.txt',encoding='utf-8')

In [61]:
premier

,Teams,Wins,Lost,Tie,Played,Proba_of_winning,Proba_of_Tie
0,Liverpool,32,5,1,38,84.210526,2.631579
1,Manchester_City,26,10,2,38,68.421053,5.263158
2,Chelsea,20,15,3,38,52.631579,7.894737
3,Leicester_City,18,16,4,38,47.368421,10.526316
4,Manchester_United,18,13,7,38,47.368421,18.421053
5,Tottenham_Hotspur,16,19,3,38,42.105263,7.894737
6,Southampton,15,20,3,38,39.473684,7.894737
7,Wolverhampton_Wanderers,15,16,7,38,39.473684,18.421053
8,Burnley,15,19,4,38,39.473684,10.526316
9,Arsenal,14,18,6,38,36.842105,15.789474
10,Sheffield_United,14,21,3,38,36.842105,7.894737
11,Everton,13,18,7,38,34.210526,18.421053
12,Newcastle_United,11,19,8,38,28.947368,21.052632
13,Crystal_Palace,11,22,5,38,28.947368,13.157895
14,West_Ham_United,10,24,4,38,26.315789,10.526316
15,Aston_Villa,9,26,3,38,23.684211,7.894737
16,Brighton_Hove_Albion,9,22,7,38,23.684211,18.421053
17,AFC_Bournemouth,9,23,6,38,23.684211,15.789474
18,Watford,8,24,6,38,21.052632,15.789474
19,Norwich_City,5,30,3,38,13.157895,7.894737

## The top 5 teams with more probability of tied games in the Premier League

In [64]:
premier.sort_values('Proba_of_Tie', ascending=False).head(5)[["Teams","Proba_of_Tie","Tie"]]

                      Teams  Proba_of_Tie  Tie
12         Newcastle_United     21.052632    8
4         Manchester_United     18.421053    7
16     Brighton_Hove_Albion     18.421053    7
7   Wolverhampton_Wanderers     18.421053    7
11                  Everton     18.421053    7

## The top 5 teams with more lost games in the Premier League

In [65]:
premier.sort_values('Lost', ascending=False).head(5)[["Teams","Lost"]]

              Teams  Lost
19     Norwich_City    30
15      Aston_Villa    26
18          Watford    24
14  West_Ham_United    24
17  AFC_Bournemouth    23

## The winner of the Premier League

In [68]:
premier.nlargest(1,'Wins')

       Teams  Wins  Lost  Tie  Played  Proba_of_winning  Proba_of_Tie
0  Liverpool    32     5    1      38         84.210526      2.631579